Repository nikitok/cm-hft: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: true

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: ruff-check
        name: ruff check
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

feat(NOV-14): ETHUSDT strategy optimization follow-up
  config/default.toml
  crates/core/src/config.rs
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/strategies/signals.rs
  crates/trading/src/bin/record.rs
  crates/trading/src/engine.rs
  crates/trading/tests/replay_bench.rs
  docs/plans/2026-03-09-ethusdt-optimization-followup.md
  infra/deploy/k8s/record/configmap-bybit.yaml
  infra/deploy/k8s/trading/configmap-ethusdt.yaml
Due: cargo-fmt, cargo-clippy

feat(NOV-20): integrate timer injection and snapshot timeout handling
  .gitignore
  CLAUDE.md
  crates/market-data/src/bybit/client.rs
  crates/trading/src/analyzer.rs
  crates/trading/src/bin/analyze_symbol.rs
  crates/trading/tests/analyze_symbol_test.rs
  crates/trading/tests/replay_harness.rs
  crates/trading/tests/replay_strategy.rs
  docs/plans/2026-03-06-new-symbol-analysis.md
  infra/deploy/k8s/record/configmap-binance.yaml
Due: cargo-fmt, cargo-clippy

style(NOV-14): cargo fmt — wrap long assert/println lines
  crates/core/src/config.rs
  crates/strategy/src/strategies/signals.rs
  crates/trading/tests/replay_bench.rs
Due: cargo-fmt, cargo-clippy

feat(NOV-20): implement market regime detector for adaptive_mm
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/strategies/signals.rs
  crates/trading/tests/replay_bench.rs
  docs/plans/2026-03-10-regime-detector.md
Due: cargo-fmt, cargo-clippy

fix(NOV-20): preserve regime params on partial on_params_update
  crates/strategy/src/strategies/adaptive_mm.rs
Due: cargo-fmt, cargo-clippy

feat(NOV-21 to NOV-23): add regime flush, fast drift signal, and stop-quoting to adaptive_mm
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/strategies/signals.rs
  crates/trading/tests/replay_bench.rs
  docs/plans/2026-03-10-regime-detector.md
Due: cargo-fmt, cargo-clippy

chore: simplify rustfmt config by removing import grouping rules
  rustfmt.toml
Due: none

chore: simplify rustfmt config by removing import grouping rules
  .gitignore
  infra/deploy/k8s/record/cronjob-bybit.yaml
Due: none

chore: simplify rustfmt config by removing import grouping rules
  backtest/data/__init__.py
  backtest/data/download.py
  backtest/data/export.py
  backtest/data/validate.py
Due: ruff-check, ruff-format

chore: simplify rustfmt config by removing import grouping rules
  backtest/data/download.py
  backtest/data/export.py
  backtest/data/validate.py
Due: ruff-check, ruff-format

fix: align Python sim pnl_series length with Rust engine and accept capitalized Side
  backtest/engine/orchestrator.py
  backtest/tests/test_backtest_engine.py
  backtest/tests/test_backtesting.py
Due: ruff-check, ruff-format
