Repository nikitok/cm-hft: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, ruff-check, ruff-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: true

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

Initialize local beads tracking for Phase 1
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  AGENTS.md
Due: none

Phase 1: Exchange connectivity (config, WS clients, order book)
  config/default.toml
  crates/core/Cargo.toml
  crates/core/src/config.rs
  crates/core/src/lib.rs
  crates/market-data/Cargo.toml
  crates/market-data/benches/orderbook_bench.rs
  crates/market-data/src/binance/client.rs
  crates/market-data/src/binance/mod.rs
  crates/market-data/src/binance/types.rs
  crates/market-data/src/bybit/client.rs
  crates/market-data/src/bybit/mod.rs
  crates/market-data/src/bybit/types.rs
  crates/market-data/src/lib.rs
  crates/market-data/src/orderbook.rs
  crates/market-data/src/ws.rs
Due: cargo-fmt, cargo-clippy

Phase 2-3: Market data recording + OMS core
  backtest/tests/test_data_pipeline.py
  crates/oms/Cargo.toml
  crates/oms/src/dedup.rs
  crates/oms/src/journal.rs
  crates/oms/src/lib.rs
  crates/oms/src/order.rs
  crates/oms/src/position.rs
  crates/recorder/Cargo.toml
  crates/recorder/src/lib.rs
  crates/recorder/src/questdb.rs
  crates/recorder/src/recorder.rs
  pyproject.toml
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

Phase 4-5 + execution: Risk management, strategy framework, REST clients
  crates/execution/Cargo.toml
  crates/execution/src/binance_rest.rs
  crates/execution/src/bybit_rest.rs
  crates/execution/src/gateway.rs
  crates/execution/src/lib.rs
  crates/execution/src/rate_limiter.rs
  crates/execution/src/signing.rs
  crates/risk/Cargo.toml
  crates/risk/src/checks/drawdown.rs
  crates/risk/src/checks/fat_finger.rs
  crates/risk/src/checks/max_order.rs
  crates/risk/src/checks/max_position.rs
  crates/risk/src/checks/mod.rs
  crates/risk/src/checks/rate_limit.rs
  crates/risk/src/circuit_breaker.rs
  crates/risk/src/kill_switch.rs
  crates/risk/src/lib.rs
  crates/risk/src/pipeline.rs
  crates/strategy/Cargo.toml
  crates/strategy/src/context.rs
  crates/strategy/src/lib.rs
  crates/strategy/src/loader.rs
  crates/strategy/src/strategies/market_making.rs
  crates/strategy/src/strategies/mod.rs
  crates/strategy/src/traits.rs
Due: cargo-fmt, cargo-clippy

Phase 6: Backtesting framework — sim exchange, PyO3 bridge, Python engine
  backtest/engine/__init__.py
  backtest/engine/analytics.py
  backtest/engine/latency_analysis.py
  backtest/engine/orchestrator.py
  backtest/engine/walk_forward.py
  backtest/notebooks/01_data_exploration.py
  backtest/notebooks/02_backtest_single.py
  backtest/notebooks/03_parameter_sweep.py
  backtest/notebooks/04_walk_forward.py
  backtest/notebooks/05_latency_analysis.py
  backtest/tests/test_backtest_engine.py
  backtest/tests/test_backtesting.py
  backtest/tests/test_walk_forward.py
  crates/pybridge/Cargo.toml
  crates/pybridge/src/lib.rs
  crates/pybridge/src/replay.rs
  crates/pybridge/src/sim_exchange.rs
  uv.lock
Due: cargo-fmt, cargo-clippy, ruff-check, ruff-format

Add maturin build-system config, integration test passes end-to-end
  pyproject.toml
  uv.lock
Due: none

Phase 7: Infrastructure — deploy configs, monitoring, gitattributes
  .gitattributes
  infra/deploy/compose/.env.example
  infra/deploy/compose/docker-compose.override.yml
  infra/deploy/compose/docker-compose.yml
  infra/deploy/docker/.dockerignore
  infra/deploy/docker/Dockerfile.backtest
  infra/deploy/docker/Dockerfile.monitoring
  infra/deploy/docker/Dockerfile.trading
  infra/deploy/terraform/cloudwatch.tf
  infra/deploy/terraform/ec2.tf
  infra/deploy/terraform/iam.tf
  infra/deploy/terraform/main.tf
  infra/deploy/terraform/outputs.tf
  infra/deploy/terraform/s3.tf
  infra/deploy/terraform/security.tf
  infra/deploy/terraform/variables.tf
  infra/deploy/terraform/vpc.tf
  infra/monitoring/cmd/monitor/main.go
  infra/monitoring/dashboards/dashboards.yml
  infra/monitoring/dashboards/exchange.json
  infra/monitoring/dashboards/latency.json
  infra/monitoring/dashboards/system.json
  infra/monitoring/dashboards/trading.json
  infra/monitoring/datasources/datasources.yml
  infra/monitoring/go.mod
  infra/monitoring/go.sum
  infra/monitoring/internal/collector/collector.go
  infra/monitoring/internal/collector/collector_test.go
  infra/monitoring/internal/health/checker.go
  infra/monitoring/internal/health/checker_test.go
  infra/monitoring/internal/health/health.go
  infra/monitoring/internal/health/health_test.go
  infra/monitoring/internal/health/types.go
  infra/monitoring/internal/metrics/metrics.go
  infra/monitoring/internal/metrics/metrics_test.go
  infra/monitoring/prometheus/prometheus.yml
  infra/monitoring/prometheus/recording_rules.yml
Due: none

Phase 8: Paper trading binary — cm-trading with PaperExecutor
  Cargo.toml
  crates/core/src/config.rs
  crates/trading/Cargo.toml
  crates/trading/src/engine.rs
  crates/trading/src/event_loop.rs
  crates/trading/src/main.rs
  crates/trading/src/paper_executor.rs
  crates/trading/src/server.rs
Due: cargo-fmt, cargo-clippy

Fix critical gaps: OrderId mapping, fill→OMS/positions, e2e test
  crates/trading/Cargo.toml
  crates/trading/src/engine.rs
  crates/trading/src/event_loop.rs
  crates/trading/src/lib.rs
  crates/trading/src/main.rs
  crates/trading/src/paper_executor.rs
  crates/trading/tests/end_to_end.rs
Due: cargo-fmt, cargo-clippy

Wire up WS feeds, mid price + PnL tracking, trading docs
  README.md
  config/default.toml
  crates/trading/src/engine.rs
  crates/trading/src/event_loop.rs
  crates/trading/src/lib.rs
  crates/trading/src/ws_feeds.rs
Due: cargo-fmt, cargo-clippy

Fix pre-test issues found during paper trading validation
  config/paper_test.toml
  crates/market-data/src/orderbook.rs
  crates/strategy/src/loader.rs
  crates/strategy/src/strategies/market_making.rs
  crates/trading/src/paper_executor.rs
Due: cargo-fmt, cargo-clippy

bd sync: 2026-02-26 15:58:01
  .beads/issues.jsonl
Due: none

Implement AdaptiveMarketMaker strategy with 7 improvements
  .beads/issues.jsonl
  crates/strategy/src/loader.rs
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/strategies/mod.rs
  crates/strategy/src/strategies/signals.rs
  crates/trading/tests/replay_bench.rs
  crates/trading/tests/replay_strategy.rs
Due: cargo-fmt, cargo-clippy

Phase 2: A-S pricing, VPIN, asymmetric sizing, realistic sim
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/strategies/signals.rs
  crates/trading/Cargo.toml
  crates/trading/tests/replay_bench.rs
  crates/trading/tests/replay_harness.rs
  crates/trading/tests/replay_strategy.rs
Due: cargo-fmt, cargo-clippy

Add recording infrastructure for multi-hour market data series
  crates/trading/Cargo.toml
  crates/trading/src/bin/record.rs
  crates/trading/tests/replay_bench.rs
  crates/trading/tests/replay_harness.rs
  scripts/record-series.sh
Due: cargo-fmt, cargo-clippy

Fix critical bugs: cancel_all, bps-domain A-S, event ordering
  crates/strategy/src/lib.rs
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/strategies/market_making.rs
  crates/trading/tests/replay_bench.rs
  crates/trading/tests/replay_harness.rs
Due: cargo-fmt, cargo-clippy

bd sync: close HFT-96h — replay harness + 3 bug fixes complete
  .beads/issues.jsonl
Due: none

Add cm-record K8s deployment + Docker CI build
  .beads/issues.jsonl
  .github/workflows/ci.yml
  crates/trading/src/bin/record.rs
  infra/deploy/docker/Dockerfile.record
  infra/deploy/k8s/record/configmap.yaml
  infra/deploy/k8s/record/cronjob.yaml
  infra/deploy/k8s/record/secret.yaml
  infra/deploy/scripts/record-and-upload.sh
Due: cargo-fmt, cargo-clippy

Fix hashFiles expression syntax in CI workflow
  .github/workflows/ci.yml
Due: none

Fix go job: hashFiles not available in job-level if
  .github/workflows/ci.yml
Due: none

Add realistic market simulator: queue position + trade-based fill matching
  crates/trading/tests/replay_bench.rs
  crates/trading/tests/replay_harness.rs
Due: cargo-fmt, cargo-clippy

Refactor: reformat long lines and indentations for improved code readability across crates.
  crates/core/src/config.rs
  crates/core/src/logging.rs
  crates/core/src/types/price.rs
  crates/core/src/types/quantity.rs
  crates/execution/src/binance_rest.rs
  crates/execution/src/bybit_rest.rs
  crates/execution/src/rate_limiter.rs
  crates/execution/src/signing.rs
  crates/market-data/src/binance/client.rs
  crates/market-data/src/binance/types.rs
  crates/market-data/src/bybit/client.rs
  crates/market-data/src/bybit/types.rs
  crates/market-data/src/orderbook.rs
  crates/market-data/src/ws.rs
  crates/oms/src/dedup.rs
  crates/oms/src/order.rs
  crates/oms/src/position.rs
  crates/pybridge/src/lib.rs
  crates/pybridge/src/replay.rs
  crates/pybridge/src/sim_exchange.rs
  crates/recorder/src/questdb.rs
  crates/strategy/src/context.rs
  crates/strategy/src/lib.rs
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/strategies/market_making.rs
  crates/strategy/src/strategies/signals.rs
  crates/trading/Cargo.toml
  crates/trading/src/bin/record.rs
  crates/trading/src/engine.rs
  crates/trading/src/event_loop.rs
  crates/trading/src/paper_executor.rs
  crates/trading/src/server.rs
  crates/trading/src/ws_feeds.rs
  crates/trading/tests/end_to_end.rs
  crates/trading/tests/replay_strategy.rs
  scripts/record-series.sh
Due: cargo-fmt, cargo-clippy

Fix clippy + fmt warnings across workspace
  crates/core/src/logging.rs
  crates/core/src/types/timestamp.rs
  crates/market-data/src/binance/client.rs
  crates/market-data/src/bybit/client.rs
  crates/market-data/src/orderbook.rs
  crates/oms/src/journal.rs
  crates/pybridge/src/lib.rs
  crates/pybridge/src/sim_exchange.rs
  crates/recorder/src/recorder.rs
  crates/risk/src/checks/fat_finger.rs
  crates/risk/src/checks/max_order.rs
  crates/risk/src/checks/rate_limit.rs
  crates/risk/src/pipeline.rs
  crates/strategy/src/lib.rs
  crates/strategy/src/loader.rs
  crates/trading/src/event_loop.rs
  crates/trading/src/paper_executor.rs
  crates/trading/tests/replay_harness.rs
Due: cargo-fmt, cargo-clippy

Fix clippy: use is_multiple_of instead of manual modulo check
  crates/trading/src/bin/record.rs
Due: cargo-fmt, cargo-clippy

Track Cargo.lock for reproducible builds
  .gitignore
  Cargo.lock
Due: none

Add ML mid-price predictor with width/skew/shift integration modes
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/ml/Cargo.toml
  crates/ml/src/bin/train.rs
  crates/ml/src/features.rs
  crates/ml/src/lib.rs
  crates/ml/src/model.rs
  crates/ml/src/normalize.rs
  crates/ml/src/predictor.rs
  crates/ml/tests/smoke.rs
  crates/strategy/Cargo.toml
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/traits.rs
  crates/trading/Cargo.toml
  crates/trading/tests/replay_bench.rs
  models/.gitkeep
  models/mid_predictor.norm.json
  models/mid_predictor.safetensors
  models/mid_predictor_btc_la5.norm.json
  models/mid_predictor_btc_la5.safetensors
  models/mid_predictor_eth_la5.norm.json
  models/mid_predictor_eth_la5.safetensors
  models/mid_predictor_la1.norm.json
  models/mid_predictor_la1.safetensors
  models/mid_predictor_la10.norm.json
  models/mid_predictor_la10.safetensors
  models/mid_predictor_la100.norm.json
  models/mid_predictor_la100.safetensors
  models/mid_predictor_la20.norm.json
  models/mid_predictor_la20.safetensors
  models/mid_predictor_la3.norm.json
  models/mid_predictor_la3.safetensors
  models/mid_predictor_la5.norm.json
  models/mid_predictor_la5.safetensors
Due: cargo-fmt, cargo-clippy

Split cm-record into per-exchange K8s CronJobs with 65m overlap window
  infra/deploy/k8s/record/configmap-binance.yaml
  infra/deploy/k8s/record/configmap-bybit.yaml
  infra/deploy/k8s/record/cronjob-binance.yaml
  infra/deploy/k8s/record/cronjob-bybit.yaml
  infra/deploy/scripts/record-and-upload.sh
Due: none

Refactor: reformat long lines and indentations for improved code readability across crates.
  Cargo.lock
  crates/ml/Cargo.toml
  crates/ml/src/bin/train.rs
  crates/ml/src/model.rs
  crates/ml/src/normalize.rs
  crates/ml/src/predictor.rs
  crates/ml/tests/smoke.rs
  crates/strategy/src/strategies/adaptive_mm.rs
  crates/strategy/src/traits.rs
  crates/trading/src/bin/record.rs
  crates/trading/tests/replay_bench.rs
Due: cargo-fmt, cargo-clippy

Refactor: reformat long lines and indentations for improved code readability across crates.
  infra/deploy/docker/Dockerfile.record
Due: none

Refactor: reformat long lines and indentations for improved code readability across crates.
  crates/trading/src/bin/record.rs
  crates/trading/tests/replay_bench.rs
  infra/deploy/k8s/record/configmap-binance.yaml
  infra/deploy/k8s/record/configmap-bybit.yaml
  infra/deploy/k8s/record/cronjob-binance.yaml
  infra/deploy/k8s/record/cronjob-bybit.yaml
  infra/deploy/scripts/record-and-upload.sh
Due: cargo-fmt, cargo-clippy

Refactor: reformat long lines and indentations for improved code readability across crates.
  crates/trading/src/bin/record.rs
Due: cargo-fmt, cargo-clippy

Refactor: reformat long lines and indentations for improved code readability across crates.
  .github/workflows/ci.yml
  backtest/engine/__init__.py
  backtest/engine/analytics.py
  backtest/engine/latency_analysis.py
  backtest/engine/orchestrator.py
  backtest/engine/walk_forward.py
  backtest/notebooks/01_data_exploration.py
  backtest/notebooks/02_backtest_single.py
  backtest/notebooks/03_parameter_sweep.py
  backtest/notebooks/04_walk_forward.py
  backtest/tests/test_backtest_engine.py
  backtest/tests/test_backtesting.py
  backtest/tests/test_data_pipeline.py
  backtest/tests/test_smoke.py
  backtest/tests/test_walk_forward.py
  infra/deploy/k8s/record/cronjob-binance.yaml
  infra/deploy/k8s/record/cronjob-bybit.yaml
Due: ruff-check, ruff-format

chore: add CLAUDE.md and install script
  CLAUDE.md
  install.cmd
Due: none

chore: ignore worktrees dir and add plan file
  .gitignore
  docs/plans/2026-03-05-backtest-testdata.md
Due: none

feat: implement spec/backtest-testdata
  crates/trading/tests/replay_bench.rs
  crates/trading/tests/replay_harness.rs
  crates/trading/tests/replay_strategy.rs
Due: cargo-fmt, cargo-clippy

Refactor: reformat long lines and indentations for improved code readability across crates.
  .github/workflows/ci.yml
  docs/plans/2026-03-05-backtest-testdata.md
Due: none

feat(NOV-10): cm-analyze-symbol — new symbol analysis CLI for HFT market-making suitability
  crates/trading/Cargo.toml
  crates/trading/src/analyzer.rs
  crates/trading/src/bin/analyze_symbol.rs
  crates/trading/src/lib.rs
  crates/trading/tests/analyze_symbol_test.rs
  docs/plans/2026-03-06-new-symbol-analysis.md
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
